<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" (click)="home()">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" (click)="home()">Group Tree</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="singleTree()">single Tree</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="primeNg()">Prime Ng</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" (click)="chartJs()">chart Js</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" (click)="angularOrgChart()">Angular Org Chart</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" (click)="ngxOrgChart()">Ngx Org Chart</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" (click)="koChart()">Ngx Org Chart</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" (click)="d3Chart()">D3 Chart</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" (click)="show()">D3 Js Data</a>
        </li>
     
      </ul>
    </div>
  </nav>
<app-d3-charts [data]="data"></app-d3-charts>
<router-outlet></router-outlet>